name: Check, build and deploy docs.

on:
  # Build the docs on every push to main.
  # Deploy them only on tag pushes using a condition in the deploy step.
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build docs
        uses: thomst/sphinx-action@master
        with:
          docs-folder: "docs/"
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/build/html/
      - name: Deploy to GitHub Pages
        id: deployment
        if: startsWith(github.ref, 'refs/tags')
        uses: actions/deploy-pages@v4